*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('i7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.txt {
    margin-top: 15%;
    margin-bottom: 3%;
    font-size: 20px;
    margin-left: 25%;
    border-radius: 25px;
    color: #fff;
}
input[type="text"] {
    font-size: 18px;
    padding: 13px 10px; 
    border: 2px;
    border-radius: 25px;
    margin-right: 15%;
    color: rgb(143, 110, 156);
    text-align: center;
    background-color: rgb(129, 213, 228);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.btn1{
    margin-left: 45%;
    padding: 10px 30px; 
    border-radius: 5px;
    font-size: 20px;
    border: 2px;
    cursor: pointer;
    background-color: rgb(143, 110, 156); /* Green */
    color:#fff;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn1:hover{
   background-color: rgb(101, 137, 214);
   color: #fff; 
}
@media (max-width: 1000px) {
    .txt {
        margin-top: 200px;
       margin-left: 60px;
    }
    input[type="text"] {
        margin-bottom: 15px;
    } 
    .btn1{
        margin-top: 15px;
        margin-bottom: 200px;
        margin-left: 120px;
    } 
}